h2 {
  margin-bottom: 48px;
}

•grid-3-cols {
  display: grid;
  grid-template-columns: repeat(s, 1fr);
  column-gap: 80px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 24px;
}
