* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd3b6;
  color: 444;
  font-family: sans-serif;
  border-top: 10px solid saddlebrown;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #fdffab;
  padding: 20px 40px;
  margin-bottom: 60px;
}
nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #e7ec95;
  border-top: 5px solid #a8e6cf;
  border-bottom: 5px solid #a8e6cf;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #363247;
}

h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  font-style: bold;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.bullet {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
}

article p:last-child {
  color: rebeccapurple;
}

/* Note: Udemy  */
/* Styling Links */

/* higher priority-pseudo */
a:link {
  color: #070f4e;
  text-decoration: none;
}

a:visited {
  color: #363247;
}

a:hover {
  color: #363247;
  text-decoration: underline wavy rebeccapurple;
}

a:active {
  background-color: #ffd3b6;
  font-style: italic;
}

/* LVHA */

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}
/* Resolving Conflicts */
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
}

.post-header {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
  height: auto;
}
